span {
    cursor:pointer;
    /* width: 500px !important; */
    white-space: nowrap;
  }
  th {
    cursor:pointer;
    /* width: 500px !important; */
    white-space: nowrap;
  }
  tr {
    white-space: nowrap;
  }